<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <%- include ('../partials/message') %>

    <main>
      <div class="container">
        <h1 style="padding-top: 20px;">Best Job Matches</h1>
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <div class="list-group" style="background-color: #444654;">
            <% for(let i=0; i<data.length; i++){%>
              <div class="card" style="padding-top: 30px; background-color: #444654">
                <div class="card-header" style="color:black; font-size: large; background-color: silver;">
                 <b><%=data[i].MatchedObjectDescriptor.PositionTitle%></b>
                </div>
                <div class="card-body" style="background-color: #808080;">
                  <h5 class="card-title"><%=data[i].MatchedObjectDescriptor.OrganizationName%></h5>
                  <p class="card-text"><%=data[i].MatchedObjectDescriptor.UserArea.Details.JobSummary%>></p>
                  <a href="<%= data[i].MatchedObjectDescriptor.ApplyURI%>" class="btn btn-primary">Apply Now</a>
                </div>
              </div>
            <%}%>
            </div>
        </div>

    </main>

<%- include ('../partials/footer') %>
