<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

  <main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

    <h1><center><%= result.name %></center></h1>
    <p style= "font-size:30px;"> <%= result.description %> </p1>
    <div class="divider"></div>
    
    <div id = "resume">
        <table class="striped">
          <thead>
            <tr>
                <th><p style= "font-size:20px;"> Education Background: </p1></th>
                <div class="divider"></div>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><b><%= result.education1 %></b></td>
            </tr>
            <tr>
              <td><b><%= result.education2 %></b></td>
            </tr>
            <tr>
            <td><b><%= result.education3 %></b></td>
            </tr>
          </tbody>
        </table> 

        <div class="divider"></div>

        <table class="striped">
          <thead>
            <tr>
                <th><p style= "font-size:20px;"> Achievements</p1></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= result.achievement1 %></td>
            </tr>
            <tr>
                <td><%= result.achievement2 %></td>
              </tr>
            <tr>
                <td><%= result.achievement3 %></td>
            </tr>
            <tr>
                <td><%= result.achievement4 %></td>
            </tr>
          </tbody>
        </table>
  
        <div class="divider"></div>

        <div id = "Finale">
            <tr>
                <td><%= result.Finale %></td>
            </tr>     
        </div> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>

  <script src="https://cdn.convertapi.com/button.js" data-secret="UtvKiW96I5DHVsWe"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.convertapi.com/button.css">
    <button class="convertapi-btn">Save page as PDF</button>
</main>

<%- include ('../partials/footer') %>